footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer > div {
  flex-basis: 30%;
  font-size: 22px;
}

.footer_list li {
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 10px;
  direction: rtl;
}
.footer_list span {
  width: 8px;
  margin-left: 10px;
  border-top: 3px solid #c22735;
  border-radius: 2px;
}
.footer_list a {
  text-decoration: none;
}
.footer_p {
  font-size: 22px;
  margin-bottom: 30px;
}
.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social_links a {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.social_links img {
  width: 25px;
  height: 25px;
}
.footer_image img {
  width: 100%;
}
.public {
  position: absolute;
  bottom: 20px;
  left: 10%;
  font-size: 18px;
}

.footer_p_mb {
  font-size: 26px;
  margin: 30px 0;
}
.footer_p_mb,
.social_container_mb,
.public_mb {
  display: none;
}
@media (max-width: 1100px) {
  .mid_col {
    display: none;
  }
}

@media (max-width: 1100px) {
  footer {
    display: grid;
    grid-template-areas: "text text" "social image";
    grid-template-columns: 60% 40%;
    padding: 2em;
  }
  .footer_list ul {
    display: none;
  }
  .footer_p_mb {
    display: block;
    grid-area: text;
  }
  .footer_image {
    grid-area: image;
  }
  .social_container_mb {
    display: block;
    grid-area: social;
  }
  .public_mb {
    display: block;
    margin-top: 25px;
  }
}
